# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
public/logo-transparent.png
public/guys-background.jpg
public/mentees.jpeg
public/pk-pm-mono.jpg
public/pk-praying-mono.jpg
public/pk-preaching-bg.jpg
public/pk-sitting-on-couch-2.jpg
public/pk-pm-mono-2.jpg
public/man-praying.jpg
public/pk-preaching-mono-2.jpg
public/pk-teaching.jpeg
public/pk-teaching-crowd-1.jpeg
public/pk-teaching-crowd-10.jpg
public/pk-preaching-4.jpg
public/logo-ldm.png
